[submodule "apps/web"]
	path = apps/web
	url = https://github.com/settlemate-labs/settlemate-fe.git
	branch = develop
[submodule "services/api"]
	path = services/api
	url = https://github.com/settlemate-labs/settlemate-be.git
	branch = develop
