[submodule "settlemate-fe"]
	path = settlemate-fe
	url = https://github.com/settlemate-labs/settlemate-fe.git
	branch = develop
[submodule "settlemate-be"]
	path = settlemate-be
	url = https://github.com/settlemate-labs/settlemate-be.git
	branch = develop
